{% extends 'base.html' %}
{% block title %}Artist Dashboard{% endblock %}
{% block content %}
  <h2>Welcome Artist {{ user.username }}!</h2>
<a href="{% url 'inbox' %}">Inbox</a> |
<a href="{% url 'sent_messages' %}">Sent</a> |
<a href="{% url 'send_message' %}">Send Message</a> |
<a href="{% url 'my_requests' %}">Requests</a>
<p><strong>Unread Messages:</strong> {{ inbox_count }}</p>

{% for venue in venues_interacted_with %}
    <p>{{ venue.name }} -
        <a href="{% url 'chat' venue.owner.id %}">Chat</a>
    </p>
{% endfor %}


<h3>Your Venues</h3>
{% if venues %}
  <ul>
    {% for v in venues %}
      <li>{{ v.name }} - {{ v.capacity }} people</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No venues yet.</p>
{% endif %}

<h3>Your Reviews</h3>
{% if reviews %}
  <ul>
    {% for r in reviews %}
      <li>{{ r.comment }} - {{ r.rating }} stars</li>
    {% endfor %}
  </ul>
{% else %}
  <p>No reviews yet.</p>
{% endif %}
{% endblock %}

