{% extends 'base.html' %}
{% block title %}My Venues{% endblock %}
{% block content %}
  <h2>My Venues</h2>
  <a href="{% url 'create_venue' %}">Add New Venue</a>
  <ul>
    {% for venue in venues %}
      <li>
        <strong>{{ venue.name }}</strong> ({{ venue.capacity }})<br>
        {{ venue.description }}<br>
        <a href="{% url 'update_venue' venue.pk %}">Edit</a> |
        <a href="{% url 'delete_venue' venue.pk %}">Delete</a>
      </li>
    {% empty %}
      <li>No venues found.</li>
    {% endfor %}
  </ul>
{% endblock %}
